#fermer:hover {
	-fx-background-color: #ff0000;
}


#fermer{
	-fx-graphic: url("../ressources/images/close.png");
	-fx-background-color: #851B55;
}

#menu1,#accordion, .tpane,.pane1{
	-fx-background-color: #542739;
}

#menu{
	-fx-background-color: #851B55;
}

#menuButton1, #menuButton2{
	
}

#save, .button{
	-fx-background-color: #691D46;
	-fx-text-fill:white;
}
.button:hover{
	-fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.menuItem{
	-fx-width:150px;
	-fx-background-color: #851B55;
}